/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html,
body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  height: 100vh;
  position: relative;
  /* background-image: url(https://res.cloudinary.com/sabago/image/upload/v1602343975/sandribego_mbot69.png);
  background-size: cover; */
  width: 100%;
  /*box-sizing: border-box; */
  /* padding: 30rem 60rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  

  /* position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes 
  transform: translate(-50%, -50%); */

}

#enter {
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
}
/* .meh {
  margin-top: 500px;
} */
/* #page-wrap {
  text-align: center;
  overflow: auto;
}

h3 {
  font-size: 50px !important;
} */

#magic , #enterButton {
  position: absolute;
}

#magic {
  z-index: 1;
}

#enterButton {
  z-index: 0;
  flex-wrap: nowrap;
}

